<header>
    <nav>
    </nav>
  </header>
  <div class="container">
    <!-- NG-ZORRO -->
      <img class = "logo" src = "assets/img/RITIntelligence.svg">
    <a routerLink = "dominik"><nz-radio-group [(ngModel)]="size"  style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%; margin-top: 5%;">
      <button nz-button nzType="primary" [nzSize]="size" nzShape="round">
          <i nz-icon nzType="home"></i>Get Started
        </button>
      </nz-radio-group></a>
    <!-- <app-login></app-login> -->
  </div>
 

