<mat-nav-list>
    <div class = "profile-card">
        <div class = "header"> 
            <h2> t5185958</h2>
            <h4>t5185958/iot1@croatia.rit.edu</h4>
        </div>
     <img class = "logo" src = "assets/img/RITIntelligence.svg">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Measurements</h2>

    <a class = "dashboardText"mat-list-item routerLinkActive = "list-item-active" routerLink = "dashboard">Temperature</a>
    <a class = "dashboardText"mat-list-item routerLinkActive = "list-item-active" routerLink = "light-measurement">Light</a>
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Tools</h2>
    <a class = "dashboardText"mat-list-item routerLinkActive = "list-item-active" routerLink = "app/dashboard">
        <mat-icon>import_contacts</mat-icon>
        Contacts
        </a>

</mat-nav-list>
