#title {
  text-align: center;
}

.passwordInput mat-icon { 
  position: absolute; 
} 

.passwordInput {
  width: 100%; 
  margin-bottom: 10px; 
}


mat-icon {
  padding: 5px;
  min-width: 10px;
  max-width: 11px;
}

.inputFieldPassword {
  width: 100%; 
  padding: 10px; 
}

.login-form {
  max-width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-form-button {
  width: 100%;
}
.alert {
  display: block;
  margin-left: 12.5%;
  margin-right: 5%;
  background-color:red;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  max-width: 75%;
  border-radius: 5px;
}
#alertText {
  color: #fff;
  width: 100%;  
  text-align: center;
}
.register{
  float: right;
  color: #858484;
}
.register:hover{
  color: #59BAFF;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%; 
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 25px; 
  padding-right: 35px;
}
.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-login100 {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 5%;
  padding-right:15px;
  padding-left: 7px; 
  width:300px;
}